{#
/**
 * @file
 * Omega's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * Omega utility variables
 * - region_classes.REGION_CONTAINERID - region_classes.main will render classes like with--sidebar-first on container
 * 
 * @see template_preprocess_page()
 * @see omega_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{#  {{ kint(slideshowImageList) }} #}

<div id="page-wrapper" class="clearfix">
  <div id="page" class="clearfix {{ page_classes }}">

    <header id="header-outer-wrapper" class="nb_scrolling outer-wrapper clearfix {{ secondary_menu ? 'with-secondary-menu' : 'without-secondary-menu' }}" role="banner">
      <div id="header-layout" class="{{ region_classes.header }} inner-wrapper clearfix">
        {{ page.header }}
        {{ page.menu }}
        
      </div>
    </header> <!-- /.section, /#header-->
  
    <section id="core-outer-wrapper" class="nb_scrolling outer-wrapper clearfix">
      <div id="core-layout" class="{{ region_classes.core }} inner-wrapper clearfix">
        {% if page.highlighted %}
          {{ page.highlighted }}
        {% endif %}
      </div>
    </section>
    
    {#
    /* norwegian.blue
     *
     * Array bg_imageImageList is set in the page preprocessor
     *
     */

    <br />
    {{ 'Array contents:'}}
    <br />
    {% for bg_image in bg_imageImageList %}
        {{ bg_image }}
        <br />
    {% endfor %}
     #}    
   {#
    /* norwegian.blue
     *
     * Insert Div for the background image which will "parallax scroll"
     *
     */
     #}
    {% if bg_imageImageList.0 or page.teaser %} 
    <section id="nb_fixed-bg0" class="nb_fixed-bg"  style='background-image: url("{{ bg_imageImageList.0 }}");'>
            {% if page.teaser %}
                {{ page.teaser }}
            {% endif %}
    </section>
    {% endif %} 
    
    {% if page.preface_first %} 
    <section id="preface1-outer-wrapper" class="nb_scrolling {{ region_classes.preface }} outer-wrapper clearfix">
        {{ page.preface_first }}
    </section> <!-- /#preface-wrapper -->
    {% endif %}  
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.1 %} 
    <section id="nb_fixed-bg1" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.1 }}");'>
    </section>
    {% endif %}

    {% if page.preface_second %}
    <section id="preface2-outer-wrapper" class="nb_scrolling {{ region_classes.preface }} outer-wrapper clearfix">
          {{ page.preface_second }}
    </section> <!-- /#preface-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.2 %}
    <section id="nb_fixed-bg2" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.2 }}");'>
    </section>
    {% endif %}

    {% if page.preface_third %}
    <section id="preface3-outer-wrapper" class="nb_scrolling {{ region_classes.preface }} outer-wrapper clearfix">
          {{ page.preface_third }}
    </section> <!-- /#preface-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.3 %}
    <section id="nb_fixed-bg3" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.3 }}");'>
    </section>
    {% endif %}

    {% if page.preface_fourth %}
    <section id="preface4-outer-wrapper" class="nb_scrolling {{ region_classes.preface }} outer-wrapper clearfix">
          {{ page.preface_fourth }}
    </section> <!-- /#preface-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.4 %}
    <section id="nb_fixed-bg4" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.4 }}");'>
    </section>
    {% endif %}

    <section id="content1-outer-wrapper" class="nb_scrolling outer-wrapper clearfix">
      <div id="main-layout" class="{{ region_classes.main }} inner-wrapper clearfix">
        
        {% if page.content %}
          {{ page.content }}
        {% endif %}  
        
        {% if page.sidebar_first %}
          {{ page.sidebar_first }}
        {% endif %}
    
        {% if page.sidebar_second %}
          {{ page.sidebar_second }}
        {% endif %}
        

      </div><!-- /#main -->
    </section><!-- /#main-outer-wrapper -->

    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.5 %} 
    <section id="nb_fixed-bg5" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.5 }}");'>
    </section>
    {% endif %}

    {% if page.content2 %} 
    <section id="content2-outer-wrapper" class="nb_scrolling outer-wrapper clearfix">
          {{ page.content2 }}
    </section>
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.6 %}
    <section id="nb_fixed-bg6" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.6 }}");'>
    </section>
    {% endif %}

    {% if page.postscript_first %}
    <section id="postscript1-wrapper" class="nb_scrolling {{ region_classes.postscript }} outer-wrapper clearfix">
        {{ page.postscript_first }}
    </section> <!-- /#postscript1-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.7 %}
    <section id="nb_fixed-bg7" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.7 }}");'>
    </section>
    {% endif %}
    
    {% if page.postscript_second %}
    <section id="postscript2-wrapper" class="nb_scrolling {{ region_classes.postscript }} outer-wrapper clearfix">
        {{ page.postscript_second }}
    </section> <!-- /#postscript2-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.8 %}
    <section id="nb_fixed-bg8" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.8 }}");'>
    </section>
    {% endif %}
    
    {% if page.postscript_third %}
    <section id="postscript3-wrapper" class="nb_scrolling {{ region_classes.postscript }} outer-wrapper clearfix">
        {{ page.postscript_third }}
    </section> <!-- /#postscript3-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.9 %}
    <section id="nb_fixed-bg9" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.9 }}");'>
    </section>
    {% endif %}
    
    {% if page.postscript_fourth %}
    <section id="postscript4-wrapper" class="nb_scrolling {{ region_classes.postscript }} outer-wrapper clearfix">
        {{ page.postscript_fourth }}
    </section> <!-- /#postscript4-wrapper -->
    {% endif %}
    {#
    /* Div for the background image which will "parallax scroll" */
     #}
    {% if bg_imageImageList.10 %}
    <section id="nb_fixed-bg10" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.10 }}");'>
    </section>
    {% endif %}
    
    {% if page.social %}
    <section id="social_media" class="nb_scrolling {{ region_classes.social }} outer-wrapper clearfix">
             {{ page.social }}
    </section>
    {% endif %}
    {% if bg_imageImageList.11 %}
    <section id="nb_fixed-bg11" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.11 }}");'>
    </section>
    {% endif %}
    
    {% if page.footer or page.copyright %}
    <footer id="footer-outer-wrapper" class="nb_scrolling outer-wrapper clearfix">
      <div id="footer-layout" role="contentinfo" class="{{ region_classes.footer }} inner-wrapper clearfix">
        {% if page.footer %}
          {{ page.footer }}
        {% endif %}
        {% if page.copyright %}
          {{ page.copyright }}
        {% endif %}
        
      </div> <!-- /#footer -->
    </footer> <!-- /#footer-outer-wrapper -->
    {% endif %}
    {% if bg_imageImageList.12 %}
    <section id="nb_fixed-bg12" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.12 }}");'>
    </section>
    {% endif %}
    {% if bg_imageImageList.13 %}
    <section id="nb_fixed-bg13" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.13 }}");'>
    </section>
    {% endif %}
    {% if bg_imageImageList.14 %}
    <section id="nb_fixed-bg14" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.14 }}");'>
    </section>
    {% endif %}
    {% if bg_imageImageList.15 %}
    <section id="nb_fixed-bg15" class="nb_fixed-bg" style='background-image: url("{{ bg_imageImageList.15 }}");'>
    </section>
    {% endif %}
</div></div> <!-- /#page, /#page-wrapper -->
